<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Můj blog</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<main class="container">
    <h1>Blog zápisků</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Titulek</th>
            <th>Perex</th>
            <th>Publikováno</th>
            <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts}">
            <td th:utext="${post.title}">Titulek1</td>
            <td th:utext="${post.perex}">Perex1</td>
            <td th:utext="${#temporals.format(post.published, 'd. MMMM yyyy')}">Datum1</td>
            <td th:utext="${post.author}">Petr Malý</td>
            <td><a href="text" th:href="@{/post/(slug=${post.slug})}">Přečíst</a></td>
        </tr>
        </tbody>
    </table>
    <div class="pager">
        <a th:each="pageNumber : ${#numbers.sequence(0,posts.totalPages-1)}"
           th:href="@{${currentURL}(size=${posts.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           class="page"
           th:classappend="${pageNumber==posts.number} ? 'active'"></a>
    </div>
</div>
</main>
</body>
</html>
